html {
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    height: 100%;
}

footer {
    background-color: orange;
    color: white;
    width: 100%;
    padding: 15px 30px;
    margin-top: 100px;  
    margin-bottom: 0;
    bottom: 0px;
    left: 0px;
    font-size: 13px;
    text-align: center;
}

.jumbotron {
    background:linear-gradient(to bottom, rgba(218, 170, 115, 0.2) 100%,rgba(218, 170, 115, 0.2) 100%), url('../img/burger.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.submit-button {
    background: orange;
    color: white;
    border-radius: 2rem;
    margin: 5px;
}

.col-6 h4 {
    margin-bottom: 15px;
}

.burgerList {
    border-right: 1px solid orangered
}

.available-burger{
    padding: 10px;
    font-size: 20px;
}

.devour-button {
    color: rgb(238, 95, 43);
    border: 1px solid rgb(238, 95, 43);
    border-radius: 2rem;
}

.devour-button:hover {
    color: white;
    background: rgb(238, 95, 43);
}

.devour-burger {
    font-size: 20px;
    color: gray;
}